body{
    background-color: #121212;
    color: darkgoldenrod;
    text-align: center;
    font-family: 'Junicode','Times New Roman', Times, serif;

}

.quick_tab {
    background-color: #121212;

}


.quick_tab button {
    background-color: darkgoldenrod;
    border: 2px solid black;
    border-radius: 3px;
    color: #121212;
    width: 100px;
}

.quick_tab button:hover {
    background-color: #121212;
    border: 2px solid darkgoldenrod;
    border-radius: 3px;
    color: darkgoldenrod;
    width: 100px;
}


#div1 img {
    width: 175px;
    height: 98.5px;
    /*border: 2px solid;*/
    margin-left: 25px;
}

#div1 {
    /*border: 2px solid;*/
    display: inline-flex;

}

#div2 img {
    width: 400px;
    height: 320px;
    /*border: 2px solid;*/
    margin-left: 25px;
}



/* style for breadcrumb */

.breadcrumb {
    display: inline-flex;
}





#python_hr {
  margin-bottom: 150px;

}




/* quick tab hide/show */


  




    /* Hide all content sections initially */


    input[type="radio"] {
      display: none;
    }

    label {
      padding: 10px 20px;
      background: darkgoldenrod;
      color: #121212;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 5px 5px 0 0;
    }

    /* Active tab label */
    #python_tab:checked + label[for="python_tab"],
    #webdev_tab:checked + label[for="webdev_tab"],
    #linux_tab:checked + label[for="linux_tab"] {
      background: #121212;
      color: darkgoldenrod;
      border: 2px solid rgb(255, 255, 255);
      border-bottom: 2px solid darkgoldenrod;
    }

    section {
      display: none;
      padding: 20px;
      border: 1px solid #ccc;
      margin-top: -1px;
    }

    #python_tab:checked ~ #python_section,
    #webdev_tab:checked ~ #webdev_section,
    #linux_tab:checked ~ #linux_section {
      display: block;
    }





/* quick tab hide/show */










/*##################################*/
/*##################################*/
/*##################################*/


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #121212;
    position: relative;
    color: darkgoldenrod;
    border-bottom: 2px solid darkgoldenrod;
}

.nav-left .site-logo {
    height: 80px;
    width: 80px;
    border-bottom: 2px solid darkgoldenrod;
    border-left: 2px solid darkgoldenrod;
    
    border-right: 2px solid white;
    border-top: 2px solid white;
    


  
}

.nav-center {
  display: flex;
  gap: 15px;

  margin-right: 25px;
  margin-left: 25px;
  
  
}

.nav-center button {
    background-color: #121212;
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    border: 2px solid #ffffff;
    border-bottom: 2px solid darkgoldenrod;
    color: darkgoldenrod;
    font-size: 17px;


}

.nav-center button:hover {
    background-color: darkgoldenrod;
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    border: 2px solid #121212;
    border-bottom: 2px solid #ffffff;
    color: #121212;
    font-size: 17px;

}


.nav-center #selected_button {
    padding: 10px 20px;
    background: darkgoldenrod;
    color: #121212;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;

}


.nav-center #selected_button:hover {
    background: #121212;
    color: darkgoldenrod;
    border: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid darkgoldenrod;

}




.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.search-bar {
  padding: 5px 10px;
  font-size: 14px;
}

.user-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-bottom: 2px double darkgoldenrod;
  border-right: 2px double darkgoldenrod;

  border-top: 2px double white;
  border-left: 2px double white;
}

.user-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 50px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

.user-menu a {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}

.user-menu a:hover {
  background-color: #f0f0f0;
}

/*##################################*/
/*##################################*/
/*##################################*/





@font-face {
  font-family: 'Junicode';
  src: url('./Fonts/Junicode/Junicode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





/*############ The right pop up that come out img #################*/


#pop_right_img {
  border: 4px solid;
}


.right_popup span {
  color: white;
}



.right_popup {
    display: none;
    position: absolute;     /*this keep it at one place and not move it*/
    top: 120%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
    background: #121212;
    border: 2px solid #69b6e2;
    z-index: 100;
    padding-top: 15px;
}
  



#pop_right_img:hover ~ .right_popup{

  display: block;
  right: 100px;
  

}




/*##################################*/



    main {
        flex: 1;
        padding: 0.1rem;
    }

    pre {
        background-color: var(--code-bg);
        color: var(--text);
        padding: 1em;
        border-radius: 5px;
        overflow-x: auto;
        font-family: monospace;
        margin: 1.5em 0;
        margin-right: 150px;
        margin-left: 150px;

    }

    code {
        font-family: 'Junicode';
    }

    /* HTML operator-style syntax highlighting */
    .tag { color: var(--tag); }
    .attr { color: var(--attr); }
    .string { color: var(--string); }
    .comment { color: var(--comment); font-style: italic; }


    :root {
      --bg: #121212;
      --text: darkgoldenrod;
      --sidebar-bg: #1a1a1a;
      --accent: darkgoldenrod;
      --code-bg: #1e1e1e;
      --tag: orange;
      --attr: lightblue;
      --string: #98c379;
      --comment: gray;
    }



    /* this section is for step by step images */



    .img_container{
        display: flex;
        justify-content: center;
  
    }

    .the_step_img{
        width: 120px;
        height: 75px;
        margin-right: 10px;
    }



    .popup-box {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 960px;
        height: 555px;
        background: #121212;
        border: 2px solid darkgoldenrod;
        z-index: 100;
    }

    .hover-area:hover .popup-box {
        display: block;
    }

    .popup-box img{
        width: 960px;
        height: 555px;

    }



    /* this section is for step by step images */



    #python_greeting{
        color: #e3ba25;
    }

    #python_greeting span{
        color: #d5882a;
    }



  /*#python_redirect_btn {
    background-color: #69b6e2;
    color: #121212;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;

    border: 3px solid darkgoldenrod;
    cursor: cell;
  }

    #python_redirect_btn:hover {
    background-color: #000000;
    color: #69b6e2;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;

    border: 3px solid darkgoldenrod;
  }*/


  #python_redirect_btn a {
    color: #ea7979;
    text-decoration: none;
  }

  #python_redirect_btn a:hover {
    color: #000000;
    text-decoration: none;
  }


    #python_redirect_btn a:active {
    color: #69b6e2;
    text-decoration: none;
  }


  #python_redirect_btn {
      padding: 1em 2em;
      font-size: 1.2rem;
      color: rgb(235, 105, 105);
      background-color: transparent;
      border: 2px solid #69b6e2;
      border-radius: 8px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: color 0.4s ease;


      margin-right: 20px;

      text-align: center;

    }

    #python_redirect_btn::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 100%;
      background-color: #69b6e2;
      z-index: -1;
      transition: width 0.4s ease;
    }

    #python_redirect_btn:hover::before {
      width: 100%;
    }

    #python_redirect_btn:hover {
      color: #000000;
    }


  



  #webdev_section li {
    border-bottom: 2px dashed darkgoldenrod; 
    margin: 0px 100px 5px 100px;
    
  
  }


/*############## Footer ##############*/


    footer {
        border-top: 2px solid;
        margin-top: 35px;
    }
    

/*############## Footer ##############*/
