body{
    background-color: #121212;
    color: darkgoldenrod;
    text-align: center;


}

nav{
    background-color: #121212;
    color: darkgoldenrod;
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif
}

#nav2 button{
    background-color: #121212;
    border: 1.5px solid darkgoldenrod;
    border-radius: 5px;
    color: darkgoldenrod;
    width: 100px;
    height: 30px;
    font-size: 17px;

}

#nav2 button:hover{
    background-color: darkgoldenrod;
    border: 1.5px solid #121212;
    border-radius: 5px;
    color: #121212;
    width: 100px;
    height: 30px;
    font-size: 17px;

}



/* this section is for the archives page */


    #archive_h1 h1 {
        color: orange;
        font-family: 'Times New Roman', Times, serif



    }

    .archive-list {
        max-width: 800px;
        margin: 0 auto;
        font-family: 'Times New Roman', Times, serif

    }

    .entry {
        display: flex;
        align-items: center;
        padding: 0.4rem 0;
    }

    .date {
        flex: 0 0 130px;
    }

    .dots {
        flex: 1;
        border-bottom: 1px dotted darkgoldenrod;
        margin: 0 10px;
    }

    .title a {
        color: darkgoldenrod;
        text-decoration: none;
    }

    .title a:hover {
        color: orange;
    }

    /* this section is for the archives page */
